<div class="min-h-screen flex">
  <div class="hidden lg:block lg:w-1/2 relative">
    <img src="/photo-1520250497591-112f2f40a3f4.jpeg" alt="Login illustration"
      class="absolute inset-0 w-full h-full object-cover opacity-95" />

    <div class="absolute inset-0 flex flex-col justify-end items-center text-white p-12 pb-40">
      <h2 class="text-5xl font-bold text-center mb-4 paytone-one-regular">Welcome back to RoomTrack</h2>
      <p class="text-xl text-center">Access your account to manage your resources</p>
    </div>
  </div>

  <div class="w-full lg:w-1/2 flex relative items-center justify-center p-8 bg-white bg-gray-100">

    <a routerLink="/"
      class="absolute top-4 right-4 p-2 text-[#618725] hover:text-[#4d6b1e] transition-colors duration-200 cursor-pointer"
      title="Back to Home">
      <i-lucide [img]="HomeIcon" class="my-icon"></i-lucide>
    </a>
    <div class="max-w-md w-full space-y-8">
      <div>
        <h2 class="text-4xl font-bold text-center text-[#618725] paytone-one-regular">Login</h2>
        <p class="mt-2 text-center text-gray-600">Enter your credentials to continue</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
          <input id="email" type="email" formControlName="email"
            class="mt-1 block w-full rounded-md border border-gray-300 p-2 focus:border-[#618725] focus:ring-[#618725]"
            placeholder="Enter your email" required />
          @if(isFieldInvalid('email')) {
          <div class="mt-1 text-sm text-red-500">
            @if(validateErrorField('email','required')) {
            <span>Email is required</span>
            } @else if(validateErrorField('email','email')) {
            <span>Invalid Email</span>
            }
          </div>
          }
        </div>

        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
          <div class="relative">
            <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
              class="mt-1 block w-full rounded-md border border-gray-300 p-2 focus:border-[#618725] focus:ring-[#618725]"
              placeholder="Enter your password" required />
            <button type="button" (click)="togglePasswordVisibility()"
              class="absolute right-2 top-2 text-gray-400 cursor-pointer">
              <i-lucide [img]="showPassword ? EyeIcon : EyeCloseIcon" class="my-icon"></i-lucide>
            </button>
          </div>
          @if(isFieldInvalid('password')) {
          <div class="mt-1 text-sm text-red-500">
            @if (validateErrorField('password', 'required')) {
            <span>Password is required</span>
            } @else if (validateErrorField('password', 'minlength')) {
            <span>The password must be at least 6 characters</span>
            }
          </div>
          }
        </div>

        <button type="submit"
          class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-[#618725] hover:bg-[#4d6b1e] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#618725] cursor-pointer">
          Login
        </button>

        <div class="text-center text-sm">
          <a routerLink="/register"
            class="text-[#618725] hover:text-[#4d6b1e] hover:underline font-semibold transition duration-200 cursor-pointer">
            Don't have an account? Register here
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
